body {
  background-color: #fafafa;
}

.logo-area {
  padding: 0.75rem 0.75rem;
}

.logo-title {
  font-size: 1.2rem;
}

.fixed-area {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fafafa;
  padding-bottom: 1.5em;
}

.control-area-header,
.color-editor-area-header {
  padding: 0.30rem;
  margin-bottom: 0.50rem;
  font-size: 1em;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.control-area,
.color-editor-area {
  border-left: 4px solid gray;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.selected-color-box {
  padding: 0;
  width: 8rem;
  height: 6rem;
  word-break: break-all;
  margin-bottom: 0.5rem !important;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.color-picker-button-container {
  padding: 0;
  width: 8rem;
  height: 1.5rem;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.color-picker-button {
  padding: 0;
  margin: 0;
  width: 8rem;
  height: 1.5rem;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.color-panel {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  padding-left: 0;
  padding-right: 0;
  word-wrap: break-word;
  min-height: 4.0em;
  max-height: 5.0em;
  min-width: 4.0em;
  overflow: hidden;
  font-size: 85%;
  cursor: pointer;
}

.color-panel-clicked {
  animation-duration: 0.2s;
  animation-name: color-panel-clicked;
}

@keyframes color-panel-clicked {
  from {
    transform: scale(1.5, 0.8);
    filter: brightness(2.0) opacity(0.5);
  }

  to {
    transform: scale(1.0, 1.0);
    filter: brightness(1.0) opacity(1.0);
    ;
  }
}

.section-custom {
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
}
