<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Siv3D Palette Browser</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>
  <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="css/main.css">
  <style>
  </style>
</head>
<body>
  <div id="app">

    <app-title :bg-color="bgColor"></app-title>

    <div class="gh-icon">
      <span class="icon is-medium">
        <a href="https://github.com/voidproc/siv3d-palette-browser"><i class="fa-brands fa-github fa-lg"></i></a>
      </span>
    </div>

    <div class="fixed-area" :style="fixedAreaStyle">

      <div class="control-area-header" :style="configHeaderStyle" @click="isVisibleControlArea = !isVisibleControlArea">
        <span :style="controlAreaHeaderTextStyle">Control<span v-if="!isVisibleControlArea">...</span></span>
        <span class="icon"><i class="fa-solid" :class="isVisibleControlArea ? 'fa-caret-up' : 'fa-caret-down'"></i></span>
      </div>

      <div class="control-area" :style="configAreaStyle" v-if="isVisibleControlArea">
        <div class="field">
          <div class="control has-icons-left">
            <input type="text" class="input" v-model="searchText" placeholder="Search..." />
            <span class="icon is-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <div class="buttons has-addons">
              <button class="button" :class="expressionButtonClass(expression)" @click="onClickExpressionButton(expression.toLowerCase())" v-for="expression in expressionLabels" :key="expression">{{expression}}</button>
            </div>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              Precision
            </a>
          </div>
          <div class="control">
            <input class="input" type="number" min="1" max="6" title="'ColorF'における小数点以下の桁数 (1～)&#13;&#10;※桁数を小さく設定することにより、元のPaletteの色との差異が大きくなるおそれがあります." v-model="config.precision">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="config.withAlpha">
              with alpha
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="config.useParentheses">
              use ( )
            </label>
          </div>
        </div>
      </div>

      <div class="color-editor-area-header" :style="configHeaderStyle" @click="isVisibleEditor = !isVisibleEditor">
        <span :style="editorAreaHeaderTextStyle">Color Editor<span v-if="!isVisibleEditor">...</span></span>
        <span class="icon"><i class="fa-solid" :class="isVisibleEditor ? 'fa-caret-up' : 'fa-caret-down'"></i></span>
      </div>

      <div class="color-editor-area" :style="configAreaStyle" v-if="isVisibleEditor">
        <div class="block">
          <div class="columns">
            <div class="column is-narrow">
              <!-- selected-color-box -->
              <div class="box selected-color-box has-text-centered" :style="selectedColorBoxStyle" :title="configuredColorText(selectedColorHex, null)" v-on:click.stop="onClickPanel(selectedColorHex, $event)">
                {{ configuredColorText(selectedColorHex, null) }}
              </div>

              <!-- color-picker-button -->
              <div class="box color-picker-button-container has-text-centered" :style="selectedColorBoxStyle" title="カラーピッカーを開く...">
                <span class="icon is-small">
                  <i class="fa-solid fa-palette"></i>
                </span>
                <input class="color-picker-button" type="color" :value="selectedColorHex" @input="onPickColor">
              </div>

              <!-- set-bgcolor-button -->
              <button class="button set-bgcolor-button is-small" title="背景色に設定する..." @click="onClickSetToBgButton">Set to BG</button>
            </div>

            <div class="column is-narrow">
              <color-element-input label="R" min="0" max="255" step="1" :value="selectedColorRgb[0]" @input="onChangeR"></color-element-input>
              <color-element-input label="G" min="0" max="255" step="1" :value="selectedColorRgb[1]" @input="onChangeG"></color-element-input>
              <color-element-input label="B" min="0" max="255" step="1" :value="selectedColorRgb[2]" @input="onChangeB"></color-element-input>
              <color-element-input label="A" min="0" max="255" step="1" :enabled="config.withAlpha" v-model="alpha"></color-element-input>
            </div>

            <div class="column">
              <div class="history-header">
                History
              </div>
              <span class="history-item" :style="{ backgroundColor: h }" :title="configuredColorText(h, null)" @click="onClickHistoryItem(h)" v-for="h in history" :key="h"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section section-custom">
      <div class="container">

        <div class="columns is-multiline is-mobile">
          <div class="column is-2-tablet is-one-third-mobile" v-for="color in filteredPalette" :key="color.web">
            <p class="notification color-panel"
              :style="panelStyle(color.web)"
              :title="configuredColorText(chroma(color.web).hex(), color)"
              v-on:click.stop="onClickPanel(color, $event)">
              <span>{{ configuredColorText(chroma(color.web).hex(), color) }}</span>
            </p>
          </div>
        </div>

      </div>
    </section>

    <div style="position:relative">
      <div class="toast" id="toast">
        {{toast.text}}
      </div>
    </div>
    
  </div>
  <script src="js/main.js"></script>
</body>
</html>